// General body styling relevant throughout the website.

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  // max-width: 99.2%;
}

img {
  width: 100%;
  height: 100%;
}


