.header {
    background: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding: 1.5em;
    background: linear-gradient(to right, #9EDBEA, #90D8F2);

    @include mq-55 {
      background: $white;
    }

    &__logo {
        height: 4em;
        width: auto;
    }
}
